body {
    background-color: white;
}

.container {
    margin-top: 50px;
}

.text {
    font-size: 3em !important;
    font-family: 'Quicksand',
    sans-serif;
    color: black;
    
}

.sub-head {
    font-size: 1.2em !important;
    color: black;
}

.image {
    margin-top: 10%;
}


