.thumbnail-style {
    border-radius: 10px;
    opacity: 0.5;
    filter: alpha(opacity=40);

}

a:link {
    color: inherit;
    text-decoration: none !important;
}

.column:hover {
    font-weight: bold;
}
.column:hover .thumbnail-style {
    opacity: 1;
    filter: none;
    
}